<div class="legends-wrapper">
    <div class="legend">
        <div>
            <span class="legend-color legend-color-signature-block">RES</span>
            <span class="legend-text">Signed by the resident(s)</span>
        </div>
        <div>
            <span class="legend-color legend-color-signature-block">RA</span>
            <span class="legend-text">Signed by the RA/AC</span>
        </div>
        <div>
            <span class="legend-color legend-color-signature-block">RD</span>
            <span class="legend-text">Signed by the RD</span>
        </div>
    </div>
    <div class="legend">
        <div>
            <span class="legend-color legend-color-checkin"></span>
            <span class="legend-text">Check-In</span>
        </div>
        <div>
            <span class="legend-color legend-color-checkout"></span>
            <span class="legend-text">Checkout</span>
        </div>
    </div>
</div>
