@model Phoenix.Models.Rci

@{
    ViewBag.Title = "CheckinSigRD";
    ViewBag.MenuExists = "T";
    ViewBag.IsRD = true;
}

@section Scripts{
    @Scripts.Render("~/Scripts/checkin-sig-rd.js")
}


<h2 id="rci-@Model.RciID">Signature</h2>

<div>
    <p>Please sign with your name @ViewBag.User to confirm the entered existing damages.</p>

    @if (Model.CheckinSigRes == null || Model.LifeAndConductSigRes == null)
    {
        <p>Resident hasn't signed yet. Please make sure resident and RA have signed before signing.</p>
        <input type="text" id="rci-sig" disabled="disabled" />
    }
    else if (Model.CheckinSigRA == null)
    {
        <p>RA hasn't signed yet. Please make sure RA has signed before signing.</p>
        <input type="text" id="rci-sig" disabled="disabled" />
    }
    else if (Model.CheckinSigRD == null)
    {
        <input type="text" id="rci-sig" />
    }
    else
    {
        <input type="text" id="rci-sig" disabled="disabled" value="@ViewBag.User" />
    }

</div>

<div class="distribute-evenly">
    <button onclick="window.location.href = '@Url.Action(actionName:"Index", controllerName:"RciInput", routeValues: new { id = Model.RciID })'">Back</button>
    <button id="submit-button" onclick="RDSigSubmit()">Submit</button>
</div>
