@model Phoenix.Models.RCI

@{
    ViewBag.Title = "Damage Input";
}

<div class="view">
    @foreach(var component in Model.RCIComponent)
    {
        <div class="pane">
            <h2 class="pane-title div-list-toggle">@component.RCIComponentName</h2>
            <div class="pane-content">
                <div class="divAddOn">
                    <label class="file-input-label divAddOn-field" for="dmg-input-@component.RCIComponentID">
                        <i class="material-icons">add_a_photo</i>
                        <span>Take picture</span>
                    </label>
                    <span class="divAddOn-item">0 Picture(s)</span>
                </div>
                <input id="dmg-input-@component.RCIComponentID" class="file-input" type="file" accept="image/*;capture=camera">
                <div>
                    <p>OR</p>
                </div>
                <div>
                    <p>Describe the Damage:</p>
                </div>
                <div class="divAddOn">
                    <input class="divAddOn-field" type="text" placeholder="Damage + Location" />
                    <span class="divAddOn-item">Add</span>
                </div>
                <div class="div-list">
                    <div class="div-list-toggle icon-label">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <span>Hide/Show Entered Damages</span>
                    </div>
                    @foreach (var damage in component.Damage)
                    {
                        if (damage.DamageDescription != null)
                        {
                            <div class="divAddOn">
                                <i class="fa fa-times divAddOn-item" aria-hidden="true"></i>
                                <p class="divAddOn-field">@damage.DamageDescription</p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
    <div class="distribute-evenly">
        <button>Save</button>
        <button>Next</button>
    </div>
 </div>