@model Phoenix.Models.RciComponent

<div class="pane component" id="@Model.RciComponentID">
    <h2 class="pane-title div-list-toggle">@Model.RciComponentName<i class="material-icons">arrow_drop_down</i></h2>

    <div class="input pane-content">
        <h3>Recorded Damages:</h3>
        <div id="img-preview-@Model.RciComponentID" class="img-thumbnails">
            @foreach (var damage in Model.Damage)
            {
                if (damage.DamageType.Equals("IMAGE"))
                {
                    <div class="thumbnail-container">
                        <img id="thumbnail-img-@damage.DamageID" class="uploaded-img thumbnail" src=@damage.DamageImagePath alt="Damage Image Thumbnail">
                    </div>
                }
            }
        </div>
        <div id="modal-@Model.RciComponentID" class="img-modal">
            <div class="modal-header"><i class="material-icons clear">clear</i></div>
            <div class="modal-content">
                @foreach (var damage in Model.Damage)
                {
                    if (damage.DamageType.Equals("IMAGE"))
                    {
                        <div id="img-slide-@damage.DamageID" class="img-slide"><img class="uploaded-img" src=@damage.DamageImagePath alt="Damage Image Enlarged"></div>
                    }
                }
                <i class="material-icons backward">navigate_before</i>
                <i class="material-icons forward">navigate_next</i>
            </div>
        </div>
        <div class="div-list" id="div-list-@Model.RciComponentID">

            @foreach (var damage in Model.Damage)
            {
                if (damage.DamageDescription != null)
                {
                    <div class="divAddOn damage-wrapper">
                        <p class="damage-element">@damage.DamageDescription</p>
                    </div>
                }
            }
        </div>
    </div>
</div>

