@model IEnumerable<Phoenix.Models.ViewModels.HomeRciViewModel>

@{
    ViewBag.Title = "Dashboard";
    ViewBag.ViewTitle = "Dashboard";
    ViewBag.MenuExists = "T";
    ViewBag.Name = TempData["user"];
    ViewBag.Role = TempData["role"];
    ViewBag.NeedsLogo = true;
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}
<div class="view">
    <h3>Hi @ViewBag.Name</h3>
    <div class="rci-list">
        @foreach (var rci in Model)
        {
            @Html.Partial("DashboardRciButton", rci)
        }
    </div>
</div>
