<div class="legend">
    <div>
        <span style="background:#31342B;" class="legend-color">RES</span>
        <span class="legend-text">Signed by the resident(s)</span>
    </div>
    <div>
        <span style="background:#31342B;" class="legend-color">RA</span>
        <span class="legend-text">Signed by the RA</span>
    </div>
    <div>
        <span style="background:#31342B;" class="legend-color">RD</span>
        <span class="legend-text">Signed by the RD</span>
    </div>
</div>
<div class="legend">
    <div>
        <span style="background:#014983;" class="legend-color"></span>
        <span class="legend-text">Check-In</span>
    </div>
    <div>
        <span style="background:#B2BB1C;" class="legend-color"></span>
        <span class="legend-text">Checkout</span>
    </div>
</div>
