@model IEnumerable<Phoenix.Models.ViewModels.HomeRciViewModel>

@{
    ViewBag.Title = "Dashboard";
    ViewBag.ViewTitle = "Dashboard";
    ViewBag.Name = TempData["user"];
    ViewBag.MenuExists = "T";
    ViewBag.Role = TempData["role"];
    ViewBag.NeedsLogo = true;
}

@section Styles {
    @Styles.Render("~/bundles/page_specific/css/dashboard")
}


<div class="view"> 
    <div class="pane">
        @Html.Partial("Legend")
        <h3>
            RCIs
        </h3>
        <div class="divAddOn search-bar">
            <input class="divAddOn-field" type="text" placeholder="Search..." />
        </div>
       
        @foreach (var rci in Model)
        {
            @Html.Partial("DashboardRciButton", rci)
        }
    </div>

</div>
