USE [RCITrain]
GO
/****** Object:  Table [dbo].[RoomChangeHistory]    Script Date: 6/26/2018 9:49:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[RoomChangeHistory](
	[SESS_CDE] [char](8) NOT NULL,
	[ID_NUM] [int] NOT NULL,
	[ROOM_CHANGE_DTE] [datetime] NOT NULL,
	[OLD_BLDG_LOC_CDE] [char](5) NULL,
	[OLD_BLDG_CDE] [char](5) NULL,
	[OLD_ROOM_CDE] [char](5) NULL,
	[NEW_BLDG_LOC_CDE] [char](5) NULL,
	[NEW_BLDG_CDE] [char](5) NULL,
	[NEW_ROOM_CDE] [char](5) NULL,
	[ROOM_CHANGE_REASON] [char](3) NULL,
	[ROOM_CHANGE_REASON_DESC] [char](60) NULL,
	[ROOM_CHANGE_COMMENT] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[RoomChangeHistory] ([SESS_CDE], [ID_NUM], [ROOM_CHANGE_DTE], [OLD_BLDG_LOC_CDE], [OLD_BLDG_CDE], [OLD_ROOM_CDE], [NEW_BLDG_LOC_CDE], [NEW_BLDG_CDE], [NEW_ROOM_CDE], [ROOM_CHANGE_REASON], [ROOM_CHANGE_REASON_DESC], [ROOM_CHANGE_COMMENT]) VALUES (N'200805  ', 9540656, CAST(N'2008-08-08T11:23:06.177' AS DateTime), N'FWLR', N'EVN', N'101', N'FWLR', N'EVN', N'113', N'3', NULL, NULL)
INSERT [dbo].[RoomChangeHistory] ([SESS_CDE], [ID_NUM], [ROOM_CHANGE_DTE], [OLD_BLDG_LOC_CDE], [OLD_BLDG_CDE], [OLD_ROOM_CDE], [NEW_BLDG_LOC_CDE], [NEW_BLDG_CDE], [NEW_ROOM_CDE], [ROOM_CHANGE_REASON], [ROOM_CHANGE_REASON_DESC], [ROOM_CHANGE_COMMENT]) VALUES (N'200809  ', 831536, CAST(N'2008-08-20T11:27:16.667' AS DateTime), N'FWLR', N'TEMP', N'100', N'FWLR', N'FER', N'105', N'3', NULL, NULL)
INSERT [dbo].[RoomChangeHistory] ([SESS_CDE], [ID_NUM], [ROOM_CHANGE_DTE], [OLD_BLDG_LOC_CDE], [OLD_BLDG_CDE], [OLD_ROOM_CDE], [NEW_BLDG_LOC_CDE], [NEW_BLDG_CDE], [NEW_ROOM_CDE], [ROOM_CHANGE_REASON], [ROOM_CHANGE_REASON_DESC], [ROOM_CHANGE_COMMENT]) VALUES (N'200809  ', 9464985, CAST(N'2008-07-28T13:25:46.427' AS DateTime), N'FWLR', N'TAV', N'220B', N'FWLR', N'TEMP', N'100', N'3', NULL, NULL)
GO
