USE [RCITrain]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 6/26/2018 9:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Room](
	[LOC_CDE] [varchar](5) NOT NULL,
	[BLDG_CDE] [varchar](5) NOT NULL,
	[BUILDING_DESC] [varchar](45) NULL,
	[ROOM_CDE] [varchar](5) NOT NULL,
	[ROOM_DESC] [varchar](45) NULL,
	[ROOM_TYPE] [varchar](2) NULL,
	[ROOM_TYPE_DESC] [varchar](60) NULL,
	[MAX_CAPACITY] [int] NOT NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[Room] ADD [ROOM_GENDER] [char](1) NULL
ALTER TABLE [dbo].[Room] ADD [RM_WHICH_FLOOR] [int] NULL

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Room] ([LOC_CDE], [BLDG_CDE], [BUILDING_DESC], [ROOM_CDE], [ROOM_DESC], [ROOM_TYPE], [ROOM_TYPE_DESC], [MAX_CAPACITY], [ROOM_GENDER], [RM_WHICH_FLOOR]) VALUES (N'FWLR ', N'BAR  ', N'Barton Hall Lynn                             ', N'1A   ', N'LYNN-BAR1A Apt AR-Apartment                  ', N'AP', N'AR-Apartment                                                ', 0, N'F', 2)
INSERT [dbo].[Room] ([LOC_CDE], [BLDG_CDE], [BUILDING_DESC], [ROOM_CDE], [ROOM_DESC], [ROOM_TYPE], [ROOM_TYPE_DESC], [MAX_CAPACITY], [ROOM_GENDER], [RM_WHICH_FLOOR]) VALUES (N'FWLR ', N'BAR  ', N'Barton Hall Lynn                             ', N'1B   ', N'LYNN-BAR1B Apt AR-Apartment                  ', N'AP', N'AR-Apartment                                                ', 0, N'F', 2)
INSERT [dbo].[Room] ([LOC_CDE], [BLDG_CDE], [BUILDING_DESC], [ROOM_CDE], [ROOM_DESC], [ROOM_TYPE], [ROOM_TYPE_DESC], [MAX_CAPACITY], [ROOM_GENDER], [RM_WHICH_FLOOR]) VALUES (N'FWLR ', N'BAR  ', N'Barton Hall Lynn                             ', N'2A   ', N'LYNN-BAR2A Apt TR-Triple                     ', N'AP', N'AR-Apartment                                                ', 0, N'F', 2)
GO
