USE [RCITrain]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 6/26/2018 9:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Session](
	[SESS_CDE] [char](8) NOT NULL,
	[SESS_DESC] [varchar](1000) NULL,
	[SESS_BEGN_DTE] [datetime] NULL,
	[SESS_END_DTE] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Session] ([SESS_CDE], [SESS_DESC], [SESS_BEGN_DTE], [SESS_END_DTE]) VALUES (N'201109  ', N'Fall 11-12 Academic Year', CAST(N'2011-08-24T00:00:00.000' AS DateTime), CAST(N'2011-12-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Session] ([SESS_CDE], [SESS_DESC], [SESS_BEGN_DTE], [SESS_END_DTE]) VALUES (N'201201  ', N'Spring 11-12 Academic Year', CAST(N'2012-01-19T00:00:00.000' AS DateTime), CAST(N'2012-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Session] ([SESS_CDE], [SESS_DESC], [SESS_BEGN_DTE], [SESS_END_DTE]) VALUES (N'201209  ', N'Fall 12-13 Academic Year', CAST(N'2012-08-29T00:00:00.000' AS DateTime), CAST(N'2012-12-21T00:00:00.000' AS DateTime))
