USE [RCITrain]
GO
/****** Object:  Table [dbo].[CommonAreaRciSignature]    Script Date: 6/26/2018 9:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonAreaRciSignature](
	[GordonID] [nvarchar](50) NOT NULL,
	[RciID] [int] NOT NULL,
	[Signature] [date] NULL,
	[SignatureType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CommonAreaRciSignature] PRIMARY KEY CLUSTERED 
(
	[GordonID] ASC,
	[RciID] ASC,
	[SignatureType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CommonAreaRciSignature] ([GordonID], [RciID], [Signature], [SignatureType]) VALUES (N'50029618', 8208, CAST(N'2017-09-04' AS Date), N'CHECKIN')
INSERT [dbo].[CommonAreaRciSignature] ([GordonID], [RciID], [Signature], [SignatureType]) VALUES (N'50042895', 8237, CAST(N'2017-09-10' AS Date), N'CHECKIN')
INSERT [dbo].[CommonAreaRciSignature] ([GordonID], [RciID], [Signature], [SignatureType]) VALUES (N'50042895', 8237, CAST(N'2018-05-20' AS Date), N'CHECKOUT')
GO
ALTER TABLE [dbo].[CommonAreaRciSignature]  WITH CHECK ADD  CONSTRAINT [FK_CommonAreaRciSignature_Rci] FOREIGN KEY([RciID])
REFERENCES [dbo].[Rci] ([RciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommonAreaRciSignature] CHECK CONSTRAINT [FK_CommonAreaRciSignature_Rci]
GO
