USE [RCITrain]
GO
/****** Object:  Table [dbo].[CurrentRA]    Script Date: 6/26/2018 9:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CurrentRA](
	[Dorm] [varchar](5) NOT NULL,
	[AD_Username] [varchar](255) NOT NULL,
	[ID_NUM] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CurrentRA] ([Dorm], [AD_Username], [ID_NUM]) VALUES (N'BRO  ', N'Andrea.Wright', 50185514)
INSERT [dbo].[CurrentRA] ([Dorm], [AD_Username], [ID_NUM]) VALUES (N'BRO  ', N'Anissa.Lomba', 50179381)
INSERT [dbo].[CurrentRA] ([Dorm], [AD_Username], [ID_NUM]) VALUES (N'BRO  ', N'Benji.Suprice', 50176044)
