USE [RCITrain]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/26/2018 9:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[ID_NUM] [varchar](10) NOT NULL,
	[firstname] [varchar](50) NULL,
	[lastname] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
	[AD_Username] [varchar](50) NULL,
	[account_type] [varchar](20) NULL,
	[Private] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([ID_NUM], [firstname], [lastname], [email], [AD_Username], [account_type], [Private]) VALUES (N'10000219', N'Debi', N'Baker', N'Debi.Baker@gordon.edu', N'Debi.Baker', N'STAFF', 0)
INSERT [dbo].[Account] ([ID_NUM], [firstname], [lastname], [email], [AD_Username], [account_type], [Private]) VALUES (N'10000599', N'Teri', N'Bragg', N'Teri.Bragg@gordon.edu', N'Teri.Bragg', N'STUDENT', 0)
INSERT [dbo].[Account] ([ID_NUM], [firstname], [lastname], [email], [AD_Username], [account_type], [Private]) VALUES (N'10001568', N'Kathy', N'Favazza', N'Kathy.Favazza@gordon.edu', N'Kathy.Favazza', N'FACULTY', 0)
GO
