USE [RCITrain]
GO
/****** Object:  Table [dbo].[Fine]    Script Date: 6/26/2018 9:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fine](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[FineAmount] [decimal](13, 2) NOT NULL,
	[GordonID] [nvarchar](50) NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[RciComponentID] [int] NULL,
 CONSTRAINT [PK_Fines] PRIMARY KEY CLUSTERED 
(
	[FineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Fine] ON 

INSERT [dbo].[Fine] ([FineID], [FineAmount], [GordonID], [Reason], [RciComponentID]) VALUES (1203, CAST(0.00 AS Decimal(13, 2)), N'50161991', N'Left has large scratch marks', 63953)
INSERT [dbo].[Fine] ([FineID], [FineAmount], [GordonID], [Reason], [RciComponentID]) VALUES (1205, CAST(0.00 AS Decimal(13, 2)), N'50161991', N'Near head of bed various paint chips', 63964)
INSERT [dbo].[Fine] ([FineID], [FineAmount], [GordonID], [Reason], [RciComponentID]) VALUES (1214, CAST(5.00 AS Decimal(13, 2)), N'50167495', N'small black stain above the closet by the door ', 69496)
GO
SET IDENTITY_INSERT [dbo].[Fine] OFF
ALTER TABLE [dbo].[Fine]  WITH CHECK ADD  CONSTRAINT [FK_Fines_RCIComponent] FOREIGN KEY([RciComponentID])
REFERENCES [dbo].[RciComponent] ([RciComponentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fine] CHECK CONSTRAINT [FK_Fines_RCIComponent]
GO
