@model IEnumerable<Phoenix.Models.ViewModels.HomeResidentViewModel>

@{
    ViewBag.Title = "MyRCIs";
}

@section Styles {
    @Styles.Render("~/Content/my_rci.css")
}

<div class="rci-all container">
    <h2>MyRCIs</h2>
    @foreach (var rci in Model.ToList())
    {
        <div class="rci-tab row">
            <div class="col-md-2 col-sm-6 col-xs-12">@rci.RoomID</div>
            <div class="col-md-3 col-sm-6 col-xs-12">@rci.FirstName @rci.LastName</div>
            <div class="col-md-3 col-sm-6 col-xs-12">Due: 09/16/2016</div>
            <div class="col-md-3 col-sm-6 col-xs-12">Saved</div>
            <div><span class="col-md-1 col-sm-6 col-xs-12 glyphicon glyphicon-pencil"></span></div>
        </div>
    }
    
</div>

