USE [RCITrain]
GO
/****** Object:  View [dbo].[Session]    Script Date: 6/26/2018 9:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Session] AS SELECT ISNULL(SESS_CDE, - 1) AS SESS_CDE, SESS_DESC, SESS_BEGN_DTE, SESS_END_DTE FROM TmsEPrd.dbo.GORD_RCI_CM_SESSION_MSTR
GO
