USE [RCITrain]
GO
/****** Object:  Table [dbo].[BuildingAssign]    Script Date: 6/26/2018 9:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingAssign](
	[JobTitleHall] [nvarchar](50) NOT NULL,
	[BuildingCode] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
