USE [RCITrain]
GO
/****** Object:  View [dbo].[RoomChangeHistory]    Script Date: 6/26/2018 9:34:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[RoomChangeHistory] AS 
SELECT SESS_CDE, ID_NUM, ROOM_CHANGE_DTE, OLD_BLDG_LOC_CDE, OLD_BLDG_CDE, OLD_ROOM_CDE, NEW_BLDG_LOC_CDE, NEW_BLDG_CDE, NEW_ROOM_CDE, ROOM_CHANGE_REASON, ROOM_CHANGE_REASON_DESC, ROOM_CHANGE_COMMENT 
FROM TmsEPrd.dbo.GORD_RCI_ROOM_CHANGE_HIST

GO
