/* CSS File specific to the "Resident", "RA" and "RD" views */


.divAddOn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.divAddOn-vert {
    position: relative;
}

.divAddOn-item {
    width: 40px;
}

.divAddOn .material-icons, .divAddOn-vert .material-icons {
    position: absolute;
    right: 15px;
    top: 15px;
}

.username p {
    font-size: 0.9em;
}

.signature-alert-wrapper {
    position: absolute;
     right: 15px;
    top: 15px;
}


.legend-color-checkin {
    background-color: #014983;
}

.legend-color-checkout {
    background-color: #B2BB1C;
}

.legend-color-signature-block {
    background-color: #31342B;
}

/* Admin view */
.filters {
    margin-bottom: 15px;
    margin-top:15px;
}
.filters select {
    margin: 5px 0;
}
