/* CSS File specific to the "Resident", "RA" and "RD" views */


.divAddOn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.divAddOn-item {
    width: 40px;
}

.username p {
    font-size: 0.9em;
}


