.input-edit-description, .save-edit-description, .cancel-edit-description, 
#input-add-building, #save-add-building, #cancel-add-building,
.input-edit-name, .input-edit-approxCost, .save-edit-cost, .cancel-edit-cost,
.input-edit-component, .save-edit-component, .cancel-edit-component,
#input-add-component-name, #input-add-component-description, #save-add-component-name, #cancel-add-component-name,
#select-edit-room-type, #save-edit-room-type, #cancel-edit-room-type {
    display: none !important;
}

#add-component h3 {
    margin-bottom: 0.5em;
}

#building-code-block {
    margin-top: 1em !important;
}

.building-name {
    border: 1px solid #808080 !important;
    font-size: smaller;
    padding: 0.3em;
    border-radius: 0.2em;
    cursor: pointer;
}

.building-name i {
    font-size: smaller;
}

.possible-costs, #add-component {
    margin-top: 1em !important;
}

.possible-costs button {
    display: inline;
    margin-left: 0.5em !important;
}

.possible-costs h3 {
    display: inline;
}

.possible-costs-header {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 0.2em !important;
    margin-bottom: 0.5em !important;
}

