/* CSS Styles specific to the RCIInput Page*/

.pane-content.input {
    background-color: #fff;
    position: relative;

}
i {
    cursor: pointer;
}
.img-thumbnails {
    display: flex; /* Flexbox !*/
    flex-wrap: wrap; /* Cause elements to wrap */
    align-items: center; /* Vertical align elements to the center */
}
.img-thumbnails div {
    padding: 0.1em;
    max-width: 20%;
}
.thumbnail-container {
    position: relative;
}
.thumbnail {
    height: 75px;
}
.img-thumbnails .delete-icon {
    background-color: #000;
    border-radius: 3px;
    font-size: .9em;
    max-width: 26px;
    position: absolute;
    right: 7px;
    top: 7px;
}
.delete-icon i {
    color: #fff;
}
.img-modal {
    background-color: rgba(235,234, 234, 0.9);
    display: none;
    top: 0; right: 0; left:0; bottom: 0;
    margin: 0 auto; 
    position: absolute;
    width:95%;
    height: 325px;
}
.modal-header{
    text-align: right;
}
.modal-content {
    margin: auto;
    margin-top: -25px;
    padding: 0.5em;
}
.material-icons.clear {
    display: block;
    font-size: 35px;
    font-weight: bold;
    padding: 0.2em 0.25em .3em;
}
material-icons.clear:hover,
material-icons.clear:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
} 
.uploaded-img {
    padding: 0.2em;
}
.img-slide img {
    height: 250px;
    max-width: 100%;
}
.backward, .forward {
    bottom: 10px;
    position: absolute;
}
.backward {
    left: 5px;
}
.forward {
    left: 25px;
}

.life-and-conduct {
    padding: 1em;
    margin: 1em;
    background-color: rgba(235,234, 234, 0.9);
}

.life-and-conduct h4 {
    text-align: center;
    margin: 0.5em;
}

.life-and-conduct ul {
    list-style-type: inherit;
}