/**
 * PURPOSE
 * Establish high-level layout that can
 * be applied to the whole site.
 *
 * TABLE OF CONTENTS:
 *
 * Header layout
 * ............. view-title
 * ............. view-drawer
 *
 * Navigation layout 
 * ............. Slide in menu
 *
 * Content layout
 * ............. view
 * ............. pane
 *
 * Footer layout
 *
 * Layout for Generic items:
 * ............. paragraphs
 * ............. ul
 * ............. input 
 * ............. button
 * ............. i 
 *
 * Altering initial state of elements
 * ............. hide
 *  ............. show
 *
 * Custom elements
 * .............. divAddOn
 * .............. divAddOn-vert
 * .............. buttonGroup
 * .............. center contents
 * .............. center contents column
 * .............. div list
 * .............. distribute evenly
 * .............. icon-label
 * .............. file input
 * .............. login-form
 * .............. a.button
 * .............. lift
 * .............. error-message
 * MISC - Anything layout related, that doesn't fit above
 * 
 * MEDIA QUERIES
 */

#page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/***************************/
/******HEADER ELEMENTS******/
/***************************/
#header {
    align-items: center;
    box-shadow: 0 3px 4px 0 #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    margin-bottom: 10px;
    padding: 2em .5em; 
    width: 100%;
}

    .view-title {
        display: none;
        flex: 1;
        padding: 0 10px;
        text-align:center;
    }
    .logo-box {
        left: 4%;
        position: absolute;
        width: 100px;
    }
    .logo-box .back-button {
        margin-left: .5em;
    }
    .dropdown {
        padding: 0 .25em;
    }
    button.dropdown {
        border: none;
        background: none;
        position:absolute;
        right: 3%;
        top: 25px;
    }
    button.dropdown:focus{
        outline: none;
    }
    .dropdown .username, .dropdown .down-arrow {
        display: none;
    }

/***************************/
/******Navigation Menu******/
/***************************/

.dropdown-menu {
    /*box-shadow: 0 0 5px 0 #ddd;*/
    border: solid 1px #cccccb;
    display:none;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 200;
}
.dropdown-menu-item {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    cursor: pointer;
}
.dropdown-menu a {
    text-decoration: none;
    color: inherit;
}
.dropdown-menu :hover {
    font-weight:bold;
}


/***************************/
/******CONTENT ELEMENTS*****/
/***************************/
#content {
    margin-left: auto;
    margin-right: auto;
    padding: .75em;
    position: relative;
    width: 100%;
}

    .view { }

    .pane {
        padding: 7px;
        margin: 14px 7px;
     }

        .pane-title {
            border-radius: 4px;
            padding: .45em;
            text-align: center;
        }
        .pane-content {
            padding: 1em;
        }

/***************************/
/**********FOOTER***********/
/***************************/
#footer {
    text-align: center;
    min-height: 3em;
}


/****************************/
/******GENERIC ELEMENTS******/
/****************************/


ul {
    list-style-type: none;
    padding: 10px 10px;
}

input[type=text],
input[type=password] {
    display: block;
    font-family: inherit;
    font-size: 100%;
}

button, a.button {
    border: none;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    font-size: 100%;
    padding: 0.2em 1em;
    text-align: center;
    margin: 0;
 }

i {
    vertical-align: middle;
}


/**************************/
/******INITIAL STATE****/

.hide {
    display: none;
}

.show{
    display: block;
}
/***************************/
/******CUSTOM ELEMENTS******/
/***************************/


/* Div Add-on
 * Helpful for placing icons on either side of a div.
 * Place divAddOn class on container element.
 * place divAddOn-field class on the main/important element within the container.
 * place divAddOn-item class on supporting elements that you want to stay horizontal with the 
 * main element e.g. labels, icons etc..
 */
.divAddOn {
    vertical-align: baseline;
    display: flex;
    margin: .5em 0;
}

.divAddOn-field {
    /*border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    flex: 1 1 auto;
}

.divAddOn-field,
.divAddOn-item {
    display: block;
    min-width:0;
    padding: 0.5em 0.5em;
}

.divAddOn-item, .bottom-button {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divAddOn-item:last-child {
    border-right: 1px solid #ccc;
}

.divAddOn-field:last-child {
    border-right: 1px solid #ccc;
}

.divAddOn-field:first-child,
.divAddOn-item:first-child {
  border-radius: 2px 0 0 2px;
}

.divAddOn-field:last-child,
.divAddOn-item:last-child {
  border-radius: 0 2px 2px 0;
}

/*
 * Div Add ON (vertical version)
 */
.divAddOn-vert {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.divAddOn-vert-field {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex: 1 1 auto;
}

.divAddOn-vert-field,
.divAddOn-vert-row {
    padding: 0.5em 0.5em;
}

.divAddOn-vert-row, .bottom-button {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
}

/*.divAddOn-vert-row:last-child {
    border-bottom: 1px solid #ccc;
}

.divAddOn-vert-field:last-child {
    border-bottom: 1px solid #ccc;
}*/

.divAddOn-vert-field:first-child,
.divAddOn-vert-row:first-child {
  border-radius: 2px 2px 0 0;
}

.divAddOn-vert-field:last-child,
.divAddOn-vert-row:last-child {
  border-radius: 0  0 2px 2px;
}



/*
 * Button Group
 * A group of buttons. 
 * Apply the class "button-group" to the parent element.
 * Apply the class "button-group-element" to its children that will be part of the group of buttons.
*/

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    
}
.button-group-element {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    flex: 1 1 auto;
    padding: 0.3em;
    text-align: center;
}

.button-group-element:last-child {
    border-right: 1px solid #ccc;
}
/* 
 * Center content in a div, both vertically and horizontally along a row 
 */
.center-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* 
 * Center content in a div, both vertically and horizontally along a column 
 */
.center-content-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* A generic div-type wrapper to wrap divs in a list manner.
 * Useful to mimic ul and li type things.
 */
.div-list {
    margin: 5px 0;
    padding: 0 0 0 10px;
}

.div-list > div {
    margin: 10px 0;
}


/* Apply this to a element and all its children will be spaced out
 * nicely
 */
.distribute-evenly {
    align-items: center;
    padding-top: 1em;
    display: flex;
    justify-content: space-around;
}

/* A div that contains a label and its associated icon
 */
div.icon-label {
    border: 0;
    margin: 0;
}


/* Style file inputs
 * It's almost impossible to style the actuall input box while retaining
 * all functionality.
 * The alternative is to make the input as small as possible and
 * remove it from the flow.
 * You then create a label element with a "for" attribute. The "for" attribute
 * binds the label to the input. So now clicking on the label has the same functionality.
 * as clicking on the input. You then style the label
 */

/* Removing input from flow */
 .file-input {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
 }

 /* Styling the label */
 .file-input-label {
     display: block;
     padding: 7px 10px;
 }


 /* 
  * Styling the login form
  * Apply "login-container" to the parent form that holds the inputs and login button.
  */

 .login-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-left:auto;
     margin-right:auto;
     padding: 2em;
     width: 300px;
 }

 .login-container  input[type=text],
 .login-container  input[type=password] {
     border: none;
     padding: 0.5em 0.75em;

 }

.login-container > input[type=text] {
     border: 1px solid #ccc;
     border-radius: 4px 4px 0 0;
}

.login-container > input[type=password] {
     border-right: 1px solid #ccc;
     border-left: 1px solid #ccc; 
}

.login-container > button {
     border: 1px solid #ccc;
     border-radius: 0 0 3px 3px;
     box-shadow: none;
     padding: 0.5em;
     width: 100%;  
}

/* Usefule style for when we want to use an anchor tag, but make it appear as a button 

*/
/*a.button {
    border-width: 2px;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: 100%;
    margin: 0;
    padding: 0.2em 1em;
    text-decoration: none;
}*/

/* Lift
 * Fancy way to say make a box shadow.
 */
.lift {
    box-shadow: 0 0 9px 0 #ddd;
}


/* Error Message Box*/

.error-message, .login-error-message{
    margin: 0.5em;
}
.error-message  div,
.error-message  p {
    padding: 0.5em;
}


/***************************/
/***********MISC************/
/***************************/

.damage-wrapper {
    box-shadow: none;
}
.damage-element,
.damage-element:last-child {
    border: none;
    border-left: 2px solid #ccc;
    font-size: 0.9em;
    padding-left: .3em;
}
.damage-wrapper .material-icons {
    font-size: 1em;
    font-weight:bold;
    padding-left: .25em;
    padding-top: .1em;
}
.signature-overlay {
    display: none;
    position:absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    z-index:10;
}
#signature-container {
    display: none;
    margin-left: 12%;
    right: 12%;
    padding: 2em 1.5em;
    position: fixed;
    top: 90px;
    width: 75%;
    z-index: 99;
}


/****************************/
/******MEDIA QUERIES*********/
/****************************/


@media screen and (min-width: 768px){

    #page-container{
        margin: 0 auto;
    }
    #content {
        width: 75%;
    }
    .view-title {
        display: inline-block;
    }
    button.dropdown {
        top: 27px;
    }
    .dropdown .hamburger {
        display: none;
    }
    .dropdown .username, .dropdown .down-arrow {
        display: inline;
    }
    .dropdown-menu {
    /*box-shadow: 0 0 5px 0 #ddd;*/
    display:none;
    margin: 0 auto;
    position: absolute;
    right: 4%;
    top: 55px;
    width: 150px;
    z-index: 200;
}
}

@media only screen and (min-width: 980px) {
    #content {
        width: 65%;
    }
    .logo-box {
        left: 10%;
    }
}