body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body.rci-body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif !important;
    letter-spacing:.1em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.body-content h3 {
   color: #808080; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Site-wide color schemes*/

.error-msg {
    color: darkorange;
}
/*Customized Bootstrap component colors*/
.well {
    background-color: #ebeaea;
}
.well h3 {
    color:#00aeef;
    font-weight:bold;
    margin-top: .25em;
}
.sub-well {
    /* This is to customize bootstrap's well*/
    background-color: #cccccb;
}
.navbar-inverse {
    background-color: #014983;
}
.navbar-inverse .navbar-brand {
    color:#fff;
}
.navbar-inverse .navbar-brand:hover {
    color: #ebeaea;
}
.btn-primary {
    border:none;
    border-radius: 0px;
}
