/**
 * PURPOSE
 * Establish typography that can
 * be applied to the whole site.
 *
 */


body {
    font-family: Verdana, Geneva, sans-serif;
    font-family: "Gotham SSm 7r","Gotham SSm A","Gotham SSm B",sans-serif;
}

#header h2 {
    font-weight: normal;
    letter-spacing: .05em;
}

