/**
 * Define website-wide colors.
 * The goal is that all colors are specified
 * in this file and nowhere else.
 *
 * That way, we can experiment with the look and feel
 * by just changing one file.
 */

 body {
     background-color: #ebeaea;
     color: #31342b;
 }

 #header {
     background-color: #B2BB1C; 
     color: #014983;
 }

 #content {
     background-color: #fff;
 }

 .file-input-label {
     background-color: #31342b;
     color: #fff;
 }
 
 button {
     background-color: #014983;
     color: #fff;
 }

 .dashboard-rci-list-header {
     letter-spacing: .05em;
    font-weight: normal;
    color: #00AEEF;
    font-style: italic;
    background-color: white;
 }

 .pane-title {
     color: #00AEEF;
 }

 .divAddOn-field {
     background-color: #014983;
     color: #fff;
 }

 a .material-icons {
     color: #014983;
 }

