/**
 * PURPOSE
 * Establish typography that can
 * be applied to the whole site.
 *
 */


body {
    font-family: Verdana, Geneva, sans-serif;
    font-family: "Gotham SSm 7r","Gotham SSm A","Gotham SSm B",sans-serif;
}

#header h2 {
    font-weight: normal;
    font-size: 1.15em;
    letter-spacing: .05em;
}

#header .back-button {
    font-size: 2em;
}
a {
    color: inherit;
    text-decoration: none;
}

.emphasized {
    font-size: 1.15em;
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

button.dropdown {
    font-size: 0.8em;
}

