/**
 * Define website-wide colors.
 * The goal is that all colors are specified
 * in this file and nowhere else.
 *
 * That way, we can experiment with the look and feel
 * by just changing one file.
 */

 body {
     color: #31342b;
     background-color: #ebeaea;
 }

 #header {
     background-color: #31342B; 
     color: #fff;
 }

 #header .material-icons .back-space {
     color: #fff;
 }

 #content {
     /*background-color: #fff;*/
 }

 .login-container > button {
     background-color: #014983;
     color: #fff;
 }

 .file-input-label {
     background-color: #31342b;
     color: #fff;
 }

 input {
     border: solid 2px #cccccb;
 }

button.dropdown {
    color: #fff;
}

.dropdown-menu {
    background-color: #fff;
    color: #000;
}
 
 button, a.button {
     background-color: #31342b;
     color: #fff;
 }

 .rci-types-flex button {
     background-color: #014983;
 }

 .dashboard-rci-list-header {
     letter-spacing: .05em;
    font-weight: normal;
    color: #00AEEF;
    font-style: italic;
    background-color: white;
 }
.search-bar input {
     background-color: #fff;
 }
 .component-title {
     background-color: #014983;
     color: #fff;
 }

 .error-message {
     background-color: #B53228;
     color: #fff;
 }


 .rci-card-checkin {
     background-color: #014983;
     color: #fff;
 }

 .rci-card-checkout {
     background-color: #b2bb1c;
     color: #fff;
 }

 .rci-card-links {
     background-color: #fff;
     color: #000;
 }

 .rci-card-links a {
     color: #31342b;
 }

 .swappable-component .check-box {
     background: #fff;
     border-bottom: none;
     border-left: solid 7px #014983;
     border-top: none;
 }
 .swappable-component .divAddOn-field {
     background-color: #fff;
 }

.signature-overlay {
    background: #31342b;
    opacity: 0.5;
}
#signature-container {
     background-color: #fff;
}

.legends-wrapper {
        background-color: #fff;

}

.nothing-placeholder {
    color: #00AEEF;
}